style.css
.class1 {

}
.class1 {
    margin-left: 1095px;
    margin-top: 12px;
}
#edit1, #edit2 {
    color: black;
    font-size: 13.4px;
    font-family: sans-serif;
    opacity: 0.85;
}
#edit2 {
    margin-left: 13.5px;
}
#edit3 {
    margin-left: 50px;
    padding: 9.5px 23px 9.5px 23px;
    color: white;
    background-color: #1a73e8;
    border: #1a73e8;
    border-radius: 4px;
    font-family: Helvetica, sans-serif;
    font-weight: 650;
    box-sizing: border-box;
}
#edit3:hover {
    background-color: rgb(100, 100, 255);
    box-shadow: 0.5px 1.5px lightblue;
}
img {
    display: block;
    margin: auto;
    margin-top: 25px;
}
a:hover {
    text-decoration: underline !important;
}
#edit4 {
    margin-left: 405px;
    margin-top: 27.5px;
    width: 550px;
    height: 45px;
    border: 1px solid rgb(216, 215, 215);
    border-radius: 30px;
    opacity: 0.87;
    font-size: 16px;
}
#edit4:hover {
    box-shadow: 1px 1px 6px rgb(196, 196, 196);
}
.class2{
    margin-top: 10px;
    margin-left: 541px;
    color: white;
    margin-top: 28.5px;
}
#edit5 {
    background-color: rgb(247, 247, 247);
    padding: 10px 15px 10px 15px;
    opacity: 0.74;
    border: 1px solid white;
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
}
#edit6 {
    background-color: rgb(247, 247, 247);
    padding: 10px 15px 10px 15px;
    opacity: 0.74;
    margin-left: 5px;
    border: 1px solid white;
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
}
#edit5:hover {
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0 0.2 0.05px;
}
#edit6:hover {
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0 0.2 0.05px;
}
.class3 {
    text-align: center;
    font-size: 13.1px;
    font-family: sans-serif;
    margin-top: 25px;
    opacity: 0.9;
}
#edit7, #edit8, #edit9, #edit10 {
    margin-left: 6.5px;
}