style.css
.class1 {

}
.class1 {
    margin-left: 1095px;
    margin-top: 12px;
}
#edit1, #edit2 {
    color: black;
    font-size: 13.4px;
    font-family: sans-serif;
    opacity: 0.85;
}
#edit2 {
    margin-left: 13.5px;
}
#edit3 {
    margin-left: 50px;
    padding: 9.5px 23px 9.5px 23px;
    color: white;
    background-color: rgb(11, 11, 255);
    border: 1px solid blue;
    border-radius: 4px;
    font-family: Helvetica, sans-serif;
    font-weight: 650;
    box-sizing: border-box;
}
#edit3:hover {
    background-color: rgb(67, 67, 255);
    box-shadow: 0.5px 1.5px lightblue;
}
img {
    display: block;
    margin: auto;
    margin-top: 20px;
}